* {
  text-decoration: none;
}

.comment-page,
.comment-user-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-button-area {
  display: flex;
  justify-content: center;
  height: 5vh;
  margin: 1%;
}

.comment-button-area > button {
  background-color: #f2968f;
  color: #fcfcfc;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin: 3px;
}

.comment-button-area > button:hover {
  background: #e4655c;
}

.comment-body {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.comment-user-body {
  height: 89vh;
}

.comment-card-container {
  margin: 2.5% 0;
  width: 85vw;
  background-color: #f8f8f8;
  border: 1px solid #eee;
  box-shadow: 0px 4px 16px rgba(0, 38, 82, 0.1);
  border-radius: 15px;
}

.comment-card {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.comment-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.comment-image > img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.comment-detail > span:nth-child(1) {
  font-weight: bold;
}

.comment-detail {
  width: 60%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.comment-detail-first {
  font-size: 15px;
}

.comment-detail-second {
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

.comment-detail > div {
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: flex-start;
}

.comment-detail > div:nth-child(1) {
  padding: 8px 0;
  font-weight: 400;
}

.comment-detail-user {
  margin: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-detail-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.comment-detail-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.comment-edit-button {
  background-color: #e0cdff;
  color: #7c699b;
  border-radius: 10px;
  border: none;
  margin: 2px;
}

.comment-delete-button {
  background-color: #ffcdd6;
  color: #9b6972;
  border-radius: 10px;
  border: none;
  margin: 2px;
}

.comment-error {
  color: #e4655c;
  font-size: small;
}

.comment-detail-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-detail-image {
  width: 343px;
  height: 360px;
  border-radius: 45px;
}

.comment-detail-noImage {
  /* width: 343px; */
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 25%; */
}

.comment-detail-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 84vh;
  margin: 0 6%;

  overflow: scroll;
}

.comment-detail-title {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 10px;
}

.comment-detail-map-name {
  background-color: #e0cdff;
  font-size: 15px;
  color: #7c699b;
  border-radius: 30px;
  height: 20px;
  padding: 6px 14px 7px;
  gap: 10px;
  margin-bottom: 10px;
}

.comment-detail-username {
  background-color: #ffebcd;
  font-size: 15px;
  border-radius: 30px;
  height: 20px;
  padding: 6px 14px 7px;
  gap: 10px;
  color: #9b8769;
  margin-bottom: 10px;
}

.comment-detail-content {
  color: #5c5c62;
  padding: 16px;
  margin-bottom: 5px;
  text-align: start;
  font-size: 20px;
}

.comment-detail-date {
  color: #7c7c8a;
  font-size: 10px;
}

.comment-submit {
  background-color: #f2968f;
  color: #fcfcfc;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
  height: 35px;
  width: 50px;
}

.comment-create-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.comment-create-form {
  background-color: white;
  margin: 3%;
  width: 90vw;
  border-radius: 15px;
  padding-top: 15px;
}

.comment-edit-mapName {
  text-align: left;
  width: 293px;
}

.comment-form-input {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-create-form-second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-error-area {
  height: 20px;
}

.comment-select {
  width: 293px;
  border-radius: 8px;
  border: 1px solid #c3a6a0;
}

.comment-form-text {
  border: 1px solid #c3a6a0;
  border-radius: 8px;
}

.comment-form-text:focus,
.comment-select:focus {
  outline: 1px#b74829;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-item__btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.image-item > img,
.comment-edit-newImage,
.comment-edit-oldImage {
  margin: 2%;
  border-radius: 10px;
}

.comment-edit-form-second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-image-update {
  background-color: white;
  font-size: 12px;
  border-radius: 15px;
  padding: 3px 6px;
  border: 1px solid #f2968f;
  margin-right: 5px;
}

.comment-image-delete {
  background-color: white;
  font-size: 12px;
  border-radius: 15px;
  padding: 3px 6px;
  border: 1px solid #f2968f;
}

.comment-edit-uploadDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-edit-images-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comment-edit-uploadImage {
  display: none;
}

.comment-upload-button {
  background-color: #e0cdff;
  font-size: 15px;
  color: #7c699b;
  border-radius: 30px;
  height: 20px;
  padding: 6px 14px 7px;
  gap: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 500px) {
  .comment-body {
    width: 100vw;
  }
  .comment-button-area > button {
    width: 9vw;
    height: 4vh;
  }

  .comment-card-container {
    width: 85vw;
  }

  .comment-card {
    height: 22vh;
  }

  .comment-detail {
    padding: 2vw;
  }

  .comment-detail-first {
    font-size: 3vmin;
  }

  .comment-detail-second {
    font-size: 2.5vmin;
  }

  .comment-detail-user {
    margin: 2%;
  }

  .comment-detail-div {
    font-size: 3vmin;
  }

  .comment-detail-button-font {
    font-size: 3vmin;
  }
}

@media only screen and (min-width: 821px){
  .comment-card {
    height: 30vh;
  }

  .comment-card-container {
    width: 60vw;
  }
}