@media only screen and (min-width: 600px) {
  .growTreePageContainer {
    border: 3px solid black;
    display: flex;
    justify-content: center;
  }

  .treeContainer {
    border: 3px solid rgb(0, 174, 255);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100%;

    background-image: url("/src/assets/256.png");
    background-repeat: repeat-y;
    background-position: center;

    font-size: 3vmax;
  }

  .leftPhoto {
    display: flex;
    justify-content: flex-start;
  }

  .left {
    border: lightgoldenrodyellow;
    width: 100%;
  }

  .leftPhoto img {
    border: 3px solid red;
    position: relative;
    border-radius: 500px;
    left: 3%;
    top: 0px;
    width: 35vmin;
    height: 35vmin;

    background-image: url("/src/assets/dogEar.jpg");
  }

  .rightPhoto {
    border: 3px solid rgb(255, 191, 0);
    display: flex;
    justify-content: flex-end;
  }

  .rightPhoto img {
    position: relative;
    border-radius: 500px;
    right: 3%;
    width: 35vmin;
    height: 35vmin;
  }
}
