.pet-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.pet-profile{
    width: 80vw;
    height: 20vh;
    border: 3px solid black;
    margin: 10px;
    border-radius: 10px;
}
.pet-icon{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}