/* -----------------------------  Phone Ver. ----------------------------- */

@media only screen and (max-width: 820px) {
  .vaccine-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vaccine-body {
    text-align: center;
  }

  .vaccine-tittle {
    margin: 2%;
    font-size: 6vmin;
    font-weight: 300;
  }

  .vaccine {
    margin-top: 5%;
    border: 2px solid #f0dcda;
    border-radius: 20px;
  }

  .add-vaccine-button {
    background: #f2968f;
    margin: 5vmin;
    border-radius: 25px;
  }

  .vaccine-upload-container {
    text-align: center;
    height: 20vh;
    /* border: 1px solid black; */
    position: relative;
    bottom: 20%;
  }
  .vaccine-upload-tille {
    font-size: 8vmin;
    /* width: 85vw; */
  }
  .mantine-1dcetaa {
    display: none;
  }

  .mantine-121w2fi {
    margin-left: 90px;
  }

  .vaccine-folderupload {
    padding-top: 2%;
    font-size: 6vmin;
    width: 50vw;
    height: 10vw;
    /* border: 5px solid black; */
    background-color: #e0cdff;
    color: #7c699b;
    border-radius: 30px;
  }

  .upload-vaccine-button {
    font-size: 5vmin;
    width: 30vw;
    height: 10vw;
    margin-top: 2vmin;
    background: #f2968f;
    border-radius: 30px;
  }
  .mantine-rqmd87 {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 50vw;
  }
}
/* -----------------------------  Pad Ver. ----------------------------- */
@media only screen and (min-width: 821px) {
  .vaccine-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vaccine-body {
    text-align: center;
  }

  .vaccine-tittle {
    margin: 2%;
    font-size: 6vmin;
    font-weight: 300;
  }

  .vaccine {
    margin-top: 5%;
    border: 2px solid #f0dcda;
    border-radius: 20px;
    width: 20vw;
    height: 35vh;
    overflow: hidden;
  }

  .vaccine img {
    width: 100%;
    height: 100%;
  }

  .add-vaccine-button {
    background: #f2968f;
    margin: 5vmin;
    border-radius: 25px;
  }

  .vaccine-upload-container {
    text-align: center;
    height: 20vh;
  }
  .vaccine-upload-tille {
    font-size: 8vmin;
    display: flex;
    justify-content: center;
  }

  .mantine-121w2fi {
    margin-left: 90px;
  }

  .vaccine-folderupload {
    font-size: 6vmin;
    width: 35vw;
    height: 10vw;
    /* border: 5px solid black; */
    background-color: #e0cdff;
    color: #7c699b;
    border-radius: 30px;
    padding-top: 2%;
  }

  .upload-vaccine-button {
    font-size: 5vmin;
    width: 30vw;
    height: 8vw;
    margin-top: 2vmin;
    background: #f2968f;
    border-radius: 30px;
  }
  .mantine-rqmd87 {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 30vw;
  }
  .mantine-1dcetaa {
    display: none;
  }
}
