.weight-body{
    margin: 8vmin;
    text-align: center;
  }

.weight-profile{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}
.weight-pet-introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
}
.weight-pet-name,.weight-pet-age{
    font-size: 10vmin;
}
.toggleBox{
    width: 300px;
    height: 300px;
    position: fixed;
    border: 10px solid black;
    background-color: blue;
    
}
.weight-container{
    border: 1px solid black;
    margin-top: 5vmin;

}
.weight-container-titte{
    font-size: 6vmin;
    display: flex;
    justify-content: space-evenly;
}
.weight-record{
    display: flex;
    justify-content: space-evenly;
}
.weight-input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weight-input-button{
    margin-top: 4vmin;
}
.weight-input-text-box{
    width: 80px;
}
.mantine-121w2fi {
    margin-left: 120px;
}
.mantine-cx9mud {
    margin-left: 30px;
}
