@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,400;1,700&display=swap");

@media only screen and (min-width: 821px) {
  .initialLandingBox {
    display: flex;
    justify-content: center;
  }

  .initialLandingContainer {
    border: 2px solid black;
    background: #f7f1f0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 1080px;
    width: 820px;
  }

  .initialLandingTitleArea {
    /* border: 5px solid rgb(0, 0, 0); */
    /* font-family: "Josefin Sans", sans-serif; */
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: 120px;
    position: relative;
    top: 0%;
  }

  .initialLandingTitleArea img {
    height: 400px;
  }

  /* .initialLandingSlogan {
    color: rgb(255, 233, 178);
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 45px;
    position: relative;
    top: 5%;
    left: 11%;
  } */

  .initialLandingLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -3.5vmax;
  }

  .initialLandingLogin button {
    background-color: #ce294d;
    border: none;
    color: white;
    width: 25vmin;
    height: 7vmin;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 46px;
    font-family: "Source Code Pro", monospace;
    font-size: 3vmin;
    font-weight: 700;
  }

  .initialLandingovalArea {
    border: 2px solid #f7f1f0;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0vmax;
    background: #e7d0d5;
    /* background: #f6eabc; */
    position: relative;
    width: 900px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
  }

  .initialLandingovalBackgroundImg {
    border: 5px solid black;
    display: flex;
    justify-content: center;
  }
  .initialLandingovalBackgroundImg img {
    width: 70%;
  }
}

@media only screen and (max-width: 820px) {
  /* body {
    background-color: #f7f1f0;
    color: #2b2b2e;
  } */

  .initialLandingContainer {
    /* border: 2px solid black; */
    background: #f7f1f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  .initialLandingTitleArea {
    /* border: 5px solid rgb(0, 0, 0); */
    /* font-family: "Josefin Sans", sans-serif; */
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: 120px;
    position: relative;
    top: 0%;
  }

  .initialLandingTitleArea img {
    height: 400px;
  }

  /* .initialLandingSlogan {
    color: rgb(255, 233, 178);
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 45px;
    position: relative;
    top: 5%;
    left: 11%;
  } */

  .initialLandingLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -3.5vmax;
  }

  .initialLandingLogin button {
    background-color: #bf1858;
    border: none;
    color: white;
    width: 25vmin;
    height: 7vmin;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 46px;
    font-family: "Source Code Pro", monospace;
    font-size: 3vmin;
    font-weight: 700;
  }

  .initialLandingovalArea {
    border: 2px solid #f7f1f0;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5vmax;
    background: #ffebcd;
    /* background: #f6eabc; */
    position: relative;
    width: 900px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
  }

  .initialLandingovalBackgroundImg {
    border: 5px solid black;
    display: flex;
    justify-content: center;
  }
  .initialLandingovalBackgroundImg img {
    width: 70%;
  }
}

@media only screen and (max-width: 767px) {
  /* body {
    background-color: #f7f1f0;
    color: #2b2b2e;
  } */

  .initialLandingContainer {
    /* border: 2px solid black; */
    background: #f7f1f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  .initialLandingTitleArea {
    /* border: 5px solid rgb(0, 0, 0); */
    /* font-family: "Josefin Sans", sans-serif; */
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: 120px;
    position: relative;
    top: 0%;
  }

  .initialLandingTitleArea img {
    height: 350px;
  }

  /* .initialLandingSlogan {
    color: rgb(255, 233, 178);
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 45px;
    position: relative;
    top: 5%;
    left: 11%;
  } */

  .initialLandingLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -7vmax;
  }

  .initialLandingLogin button {
    background-color: #bf1858;
    border: none;
    color: white;
    width: 30vmin;
    height: 10vmin;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 46px;
    font-family: "Source Code Pro", monospace;
    font-size: 3vmin;
    font-weight: 700;
  }

  .initialLandingovalArea {
    border: 2px solid #f7f1f0;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0vmax;
    background: #ffebcd;
    /* background: #f6eabc; */
    position: relative;
    width: 600px;
    height: 270px;
    border-radius: 50%;
    overflow: hidden;
  }

  .initialLandingovalBackgroundImg {
    border: 5px solid black;
    display: flex;
    justify-content: center;
  }
  .initialLandingovalBackgroundImg img {
    width: 60%;
  }
}
