@media only screen and (min-width: 821px) {
  .landingPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid rgb(255, 208, 0); */
  }

  .landingPageInfiniteScroll {
    /* border: 3px solid rgb(0, 0, 0); */
    height: 100%;
    width: 821px;
    display: flex;
    flex-direction: column;

    padding-top: 5vmin;
  }

  .landingPageTags {
    background-color: azure;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 6%;
    z-index: 1;
  }

  .my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .my-masonry-grid_column {
    /* background-clip: padding-box; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-masonry-grid_column img {
    width: 16vw;
    margin-top: 3vmin;
    border-radius: 10px;
  }
}
