@media only screen and (min-width: 821px) {
  .notyetLoginLandingContainer {
    border: 2px solid black;
    background: #f56575;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 1080px;
    width: 820px;
  }

  .notyetLoginLandingTextPart {
    border: 2px solid rgb(255, 255, 255);
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 900px;
    height: 1200px;
    border-radius: 50%; */
  }
}
