@media only screen and (min-width: 821px) {
  .headerDefault {
    /* border: 2px solid rgb(255, 0, 144); */
    background-color: #f0dcda;
    height: 7vh;
    width: 821px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
  }

  .headerLogo {
    height: 100%;
    /* margin-right: 27%; */
  }

  .headerLogo img {
    height: 100%;
  }

  .logOutDefault {
    /* border: 2px solid rgb(68, 19, 47); */
    display: flex;
    justify-content: space-around;
    font-size: 4vmin;
    width: 8vw;
  }

  .logoutCardDefault {
    background-color: aliceblue;
    border: 2px solid rgb(241, 234, 234);
    border-radius: 15px;
    position: absolute;
    top: 7vh;
    /* right: 23.5vw; */
    width: 18%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000;
    font-weight: 200;
  }
}

/* ----------------------------- Laptop Ver. ----------------------------- */

@media only screen and (max-width: 820px) {
  .headerDefault {
    /* border: 2px solid rgb(255, 0, 144); */
    background-color: #f0dcda;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
  }

  .headerLogo {
    height: 100%;
    margin-right: 27%;
  }

  .headerLogo img {
    height: 100%;
  }

  .logOutDefault {
    /* border: 2px solid rgb(68, 19, 47); */
    display: flex;
    font-size: 3vmax;
    margin-right: 5%;
  }

  .logoutCardDefault {
    background-color: aliceblue;
    border: 2px solid rgb(241, 234, 234);
    border-radius: 15px;
    position: absolute;
    top: 5vh;
    /* right: 0.6vw; */
    width: 30vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    font-weight: 200;
  }
}

/* -----------------------------  Phone Ver. ----------------------------- */

@media only screen and (max-width: 767px) {
  .headerDefault {
    /* border: 2px solid rgb(255, 0, 144); */
    background-color: #f0dcda;
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
  }

  .headerLogo {
    height: 100%;
    margin-right: 18%;
  }

  .headerLogo img {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .logOutDefault {
    /* border: 2px solid rgb(68, 19, 47); */
    display: flex;
    font-size: 3vmax;
    /* margin-right: 9%; */
  }

  .logoutCardDefault {
    background-color: aliceblue;
    border: 2px solid rgb(241, 234, 234);
    border-radius: 15px;
    position: absolute;
    /* top: 6.6vh; */
    /* right: 1vw; */
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    z-index: 1000000;
    font-weight: 200;
  }
}
