@media only screen and (min-width: 821px) {
  .header {
    /* border: 2px solid rgb(255, 0, 144); */
    background-color: rgb(128, 196, 255);
    height: 7vh;
    width: 821px;
    display: flex;
    align-items: center;
    top: 0;
  }

  .previousPage {
    /* border: 2px solid rgb(68, 19, 47); */
    font-size: 4vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
    margin-right: 41vw;
  }

  .logOut {
    /* border: 2px solid rgb(68, 19, 47); */
    display: flex;
    justify-content: space-around;
    font-size: 4vmin;
    width: 8vw;
  }

  .logoutCard {
    background-color: aliceblue;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    top: 7.5vh;
    right: 23.5vw;
    width: 18%;
    height: 500px;
    display: flex;
    justify-content: center;
    z-index: 1000000;
  }
}

/* ----------------------------- Laptop Ver. ----------------------------- */

@media only screen and (max-width: 820px) {
  .header {
    /* border: 2px solid rgb(255, 0, 144); */
    background-color: rgb(128, 196, 255);
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
  }

  .previousPage {
    /* border: 2px solid rgb(68, 19, 47); */
    font-size: 4vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 80%;
  }

  .logOut {
    /* border: 2px solid rgb(68, 19, 47); */
    display: flex;
    justify-content: flex-end;
    font-size: 3vmax;
  }

  .logoutCard {
    background-color: aliceblue;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    top: 5.5vh;
    right: 0.6vw;
    width: 30vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    z-index: 1000000;
  }
}

/* -----------------------------  Phone Ver. ----------------------------- */

@media only screen and (max-width: 767px) {
  .header {
    /* border: 2px solid rgb(255, 0, 144); */
    background-color: rgb(128, 196, 255);
    height: 6vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
  }

  .previousPage {
    /* border: 2px solid rgb(68, 19, 47); */
    font-size: 4vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6.5%;
    margin-right: 76%;
  }

  .logOut {
    /* border: 2px solid rgb(68, 19, 47); */
    display: flex;
    justify-content: flex-end;
    font-size: 3vmax;
  }

  .logoutCard {
    background-color: aliceblue;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    top: 6.6vh;
    right: 1vw;
    width: 50vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    z-index: 1000000;
  }
}
