@media only screen and (min-width: 821px) {
  .listPageContainer {
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 821px;
  }

  .categoryContainer {
    border: 3px solid rgb(255, 204, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: sticky;
    top: 5vmin;
    width: 20%;
    height: 70vmin;
  }

  .districtCategory .typeCategory {
    display: flex;
    flex-wrap: wrap;
  }

  .placeContainer {
    border: 3px solid rgb(0, 183, 255);
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .CardContainer {
    border: 3px solid rgb(255, 0, 0);
    height: 85%;
    overflow: scroll;
  }
}

/* -----------------------------  Phone Ver. ----------------------------- */

@media only screen and (max-width: 767px) {
  border-radius: 30px;
}
