@media only screen and (min-width: 1000px) {
  .pageContainer {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .filterContainer {
    border: 3px solid rgb(0, 0, 0);
    height: 6%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchContainer {
    flex: 3;
  }

  .searchTrigger,
  .categorTrigger {
    flex: 1;
  }

  .categoryContainer {
    border: 3px solid rgb(0, 208, 255);
    display: flex;
    justify-content: space-evenly;
    top: 5vmin;
    width: 100%;
    height: 60%;
    overflow: scroll;
    padding: 0 1% 0 1%;
  }
  .districtCategory,
  .typeCategory {
    /* border: 3px solid black; */
    display: flex;
    flex-wrap: wrap;
  }

  .mapContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 90%;
    top: 0px;
    border: 3px solid rgb(255, 204, 0);
    overflow: hidden;
  }

  .previewPlaceCard {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    width: 300px;
    height: 33vmin;
    left: 3%;
    z-index: 10000;
  }

  .cardSection {
    border: 2px solid black;
    border-radius: 20px;
  }

  .previewPicture2 {
    border-radius: 20px;
    height: 21vmin;
  }

  .closeCardButton {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10%;
    left: 97%;
    width: 2vmin;
  }
}
